/* Estilo del cursor personalizado */
body {
  font-family: 'Patrick Hand', cursive;
  overflow: hidden;
  cursor: url('https://github.com/Polero7070/polsmymind99/blob/main/P%20(2).png?raw=true'), auto;
}

a, button, input, .pictogram-container, .submenu a {
  cursor: url('https://github.com/Polero7070/polsmymind99/blob/main/P%20(2).png?raw=true'), auto;
}

